@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   Mackenzie Burch
   Date:     11/13/23
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: black;
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: black;
}


header {
    width: 900px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;	
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
    color: lightsteelblue;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 4em;
    color: antiquewhite;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background:whitesmoke;
    border-radius: 10px;
    color: black;
}


#main {
    width: 446px;
    padding: 0px;
    float: left;
    color: antiquewhite;
    border-left: 2px solid;
    border-right: 2px solid;
}

#main p {
    text-indent: 1.5em;
    padding: 4em;
    text-align: center;
}

figure{
    padding-top: 0px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    text-indent: 1.5em;
    text-align: center;
    font-size: 0.9em;
    padding-bottom: 3em;
    color: cornsilk;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 1em;
}

h3 {
    color: cornsilk;
    padding-bottom: 1em;
    text-align: center;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: cornflowerblue;
    clear: both;
    color: cornsilk;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;

}/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: navy;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Form Layout Styles */
form#survey {
    display: flex;
    flex-flow: row wrap;
}

form#survey > fieldset {
        background-color: rgb(241, 232, 181);
        border-radius: 20px;
        flex: 1 1 300px;
        font-size: 0.85em;
        padding: 10px;
        margin: 10px;
    }

div.formRow {
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
}

    div.formRow > * {
        flex: 1 1 150px;
    }

/* Form Button Styles */

div#buttons {
    text-align: center;
    width: 100%;
}

input [type='submit'], input[type='reset'] {
    font-size: 1.2em;
    padding: 5px;
    margin: 15px;
}

/* Table Styles */
table{
    background-color:cornflowerblue;
    width:75%;
}

td:hover {background-color:lightseagreen;}
